.cart{
    display: flex;
  
    padding: 10px;
    height: 180px;
    width: 500px;
    background-color: rgb(228, 153, 55);
   position: relative;
   left: 200px;
}
.cart img{
    height: 150px;
    margin-right: 21px;
}
.cart-right h2{
   color: #fff;
   padding-bottom: 10px;
}
.cart-right button{
    padding: 5px 10px;
    background-color: blue;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 15px;
}